<div id="content">
  <button type="submit"  (click)="captureScreen()" class="btn btn-primary">Registro</button>

  <div class="alert alert-info"><strong>Html To PDF Conversion - Angular 6</strong></div>
  <div></div>
</div>

<div id="contentToConvert">
  <div id="cabecera" >
    <!--  class="col-md-6" -->
    <div id="logo_superior_izq" >
      <img  src="assets/img/logo_electra_energia.png" align="" >
    </div>

  </div>


  <!-- Div donde se encuentra el texto lateral-->
  <div id="datos_Vertical" class="texto-vertical">
    DIRECCIÓN: Huerto de Más, 3-2ª·12002 Castellón de la plana· Tlfno. 964 22 14 04· Fax 964 23 10 34· Deleg.Técnica: Plaza Colon, 12 Bajos·13200 Morella(Castellón)· Tlfno. 964 17 32 75 Fax: 964 16 08 26
  </div>


  <!-- Div datos de la factura y además los datos del cliente. -->
  <div id="cabecera_datos_dir_envio" >
    <!--  class="col-md-6" -->
    <div id="cabecera_datos_factura" >

      <div class="texto-vertical_azul_col1" >
        DATOS DE LA FACTURA
      </div>
      <div id="cabecera_datos_factura_COL1">
        <p class="texto_nombre" >
          Nº FACTURA
        </p>
        <p class="texto_nombre" >
          FECHA FACTURA
        </p>
        <p class="texto_nombre" >
          PERIODO
        </p>
        <p class="texto_nombre" style="font-size: 40pt">
          TOTAL
        </p>
        <p class="texto_nombre" >
          DOMICILIACIÓN
        </p>
        <p class="texto_nombre" >
          Nº DE CUENTA
        </p>
      </div>
      <div id="cabecera_datos_factura_COL2">
        <p class="texto_nombre_contenido" >
          _numFactura
        </p>
        <p class="texto_nombre_contenido" >
          _fechaFactura
        </p>
        <p class="texto_nombre_contenido" >
          _periodoFactura
        </p>
        <p class="texto_nombre_contenido" style="font-size: 42pt">
          _totalFactura
        </p>
        <p class="texto_nombre_contenido" >
          _Domiciliación
        </p>
        <p class="texto_nombre_contenido" >
          _numCuenta
        </p>
      </div>
    </div>


    <div id="cabecera_envio" >
      <div class="texto-vertical_azul_col2" >
        Dirección Del Cliente
      </div>
      <p class="texto_nombre" >
        DIRECCIÓN FACTURACIÓN
      </p>
      <p class="texto_nombre_contenido" >
        _nombreEnvio
      </p>
      <p class="texto_nombre_contenido" >
        _calleEnvio
      </p>
      <p class="texto_nombre_contenido" >
        _cPEnvio _poblacionEnvio _provinciaEnvio
      </p>
    </div>
  </div>

  <!-- Datos del titular -->

  <!-- Div datos de la factura y además los datos del cliente. -->
  <div id="Cuerpo_DatosTitular" >
    <div style="padding-top: 46px">
      <!--  class="col-md-6" -->
      <div class="texto-vertical_azul_col1" >
        DATOS DEL TITULAR
      </div>
      <div id="cabecera_envio_COL1">
        <p class="texto_nombre" >
          TITULAR
        </p>
        <p class="texto_nombre" >
          DIR. SUMINISTRO
        </p>
        <p class="texto_nombre" >
          POBLACIÓN
        </p>
        <p class="texto_nombre">
          DNI/CIP
        </p>
        <p class="texto_nombre" >
          REF. CATASTRAL
        </p>
        <p class="texto_nombre" >
          TARIFA
        </p>
      </div>
      <div id="cabecera_envio_COL2">
        <p class="texto_nombre_contenido" >
          _titularSuministro
        </p>
        <p class="texto_nombre_contenido" >
          _direcSuministro
        </p>
        <p class="texto_nombre_contenido" >
          _poblacionSuministro
        </p>
        <p class="texto_nombre_contenido" >
          _dniSuministro
        </p>
        <p class="texto_nombre_contenido" >
          _refSuministro
        </p>
        <p class="texto_nombre_contenido" >
          _numCuenta
        </p>
      </div>
      <div id="cabecera_envio_COL3">
        <p class="texto_nombre" >
          TENSIÓN
        </p>
        <p class="texto_nombre" >
          NºCONTRATO
        </p>
        <p class="texto_nombre" >
          CNAE
        </p>
        <p class="texto_nombre">
          CUPS
        </p>
        <p class="texto_nombre" >
          POTENCIA
        </p>
        <p class="texto_nombre" >
          DSCRIM
        </p>
      </div>
      <div id="cabecera_envio_COL4">
        <p class="texto_nombre_contenido" >
          _tensión
        </p>
        <p class="texto_nombre_contenido" >
          _numeroContrato
        </p>
        <p class="texto_nombre_contenido" >
          _cnae
        </p>
        <p class="texto_nombre_contenido" >
          _cups
        </p>
        <p class="texto_nombre_contenido" >
          _potencia
        </p>
        <p class="texto_nombre_contenido" >
          _discriminacion
        </p>
      </div>
    </div>
  </div>



  <!--Cuerpo de la factura-->
  <div id="cuerpo" >
    <div class="texto-vertical_azul_col1" >
      CALCULO DE LA FACTURA
    </div>
    <div id="cuerpo_COL1_textoCompleto">
      <p class="texto_nombre_contenido" >
        Término de Potencia
      </p>
      <p class="texto_nombre_precios" >
        P1 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P2 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P3 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P4 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P5 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P6 _kw x _dias x _precio
      </p>

      <!--Término de energia
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
          Término de Energia
      </p>
      <p class="texto_nombre_precios" >
          P1 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P2 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P3 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P4 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P5 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P6 _kw x _dias x _precio
      </p>
-->


      <!--Término de Reactiva
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
          Término de Reactiva
      </p>
      <p class="texto_nombre_precios" >
          P1 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P2 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P3 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P4 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P5 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
          P6 _kw x _dias x _precio
      </p>

-->

      <!--Término de excesos-->
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        Término de Excesos
      </p>
      <p class="texto_nombre_precios" >
        P1 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P2 _kw x _dias x _precio
      </p>
      <p class="texto_nombre_precios" >
        P3 _kw x _dias x _precio
      </p>


      <!--Impuesto electrico-->
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        Impuesto Electricidad
      </p>
      <p class="texto_nombre_precios" >
        Calculo
      </p>
      <p class="texto_nombre_precios" >
        _precioAlquiler
      </p>


      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        &nbsp
      </p>

      <p class="texto_nombre_precios" >
        BASE IMPONIBLE
      </p>
      <p class="texto_nombre_precios" >
        IVA
      </p>

      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        TOTAL FACTURA
      </p>


    </div>



    <div id="cuerpo_COL3_precio">
      <p class="texto_nombre_contenido" >
        &nbsp
      </p>
      <p class="texto_nombre_precios" >
        _totalp1
      </p>
      <p class="texto_nombre_precios" >
        _totalp2
      </p>
      <p class="texto_nombre_precios" >
        _totalp3
      </p>
      <p class="texto_nombre_precios" >
        _totalp4
      </p>
      <p class="texto_nombre_precios" >
        _totalp5
      </p>
      <p class="texto_nombre_precios" >
        _totalp6
      </p>

      <!--Excesos-->
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        &nbsp
      </p>
      <p class="texto_nombre_precios" >
        _exceso1
      </p>
      <p class="texto_nombre_precios" >
        _exceso2

      </p>
      <p class="texto_nombre_precios" >
        _exceso3

      </p>




      <!--Impuesto electrico-->
      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        &nbsp
      </p>
      <p class="texto_nombre_precios" >
        _precio
      </p>
      <p class="texto_nombre_precios" >
        _precio
      </p>

      <p class="texto_nombre_contenido" style="margin-top: 40px" >
        &nbsp
      </p>


      <!--Impuesto electrico-->

      <p class="texto_nombre_precios" >
        _base
      </p>
      <p class="texto_nombre_precios" >
        _iva
      </p>

      <p class="texto_nombre_precios_black" style="margin-top: 40px" >
        _Final
      </p>
    </div>
    <div id="cuerpo_col2">

      <div id="grafica_consumo">
        <div class="texto-vertical_azul_col2" >
          HISTORIAL DE CONSUMO
        </div>
      </div>
      <img src="assets/img/imagen_anuncio.jpg" width="1181px" height="815px">


    </div>
  </div>


  <div id="pie">
    <div class="texto-vertical_azul_col1" >
      INFORMACIÓN UTIL
    </div>

  </div>
</div>



