#contentToConvert {
width: 2480px;
height: 3508px;
font-family: Ubuntu;
margin: 0 0 0 0;
-webkit-print-color-adjust: exact;
background-image: url("assets/img/imagen_fondo.jpg") !important;


}


/* Cabecera linea donde aparece el logo y el degradado. */
#cabecera{
  position:relative;
  height: 426px;
  width: 2480px;

}
#logo_superior_izq
{
  float: left;
  margin-right: 118px;
  width: 1181px;
}

#logo_superior_izq img { margin-top:172px ; float:right ; }


#logo_superior_derecha_degradado
{

  float: left;
  width: 1181px;
}

/* Texto Vertical de la factura donde aparece la dirección de la empresa y la delegación técnica */
.texto-vertical {
  font-weight: bold;
  font-size: 23px;
  padding-bottom: 0px;
  /* Error en el tamaño */
  /*     font-size: 6px; */
  color: black;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#datos_Vertical{
  padding-top: 0px;
  left: 0px;
  padding-bottom: 0px;

  position:absolute;
  width: 68px;
  height: 2800px;
}
/* Fin */

/* Segunda linea, añadimos los datos de factura y la direción del cliente.  */
#cabecera_datos_dir_envio
{
  margin-top: 42px;
  width: 2480px;
  float:left;
  height: 521px;
}

#cabecera_datos_factura
{
  padding-top: 53px;
  float:left;
  height: 468px;
  width: 1181px;
  margin-right: 118px;
  background-color: #d4d4d1 !important;
}




#cabecera_datos_factura_COL1
{
  width: 358px;
  padding-left: 66px;
  float: left;
}
#cabecera_datos_factura_COL2
{

  width: 577px;
  float: left;
}







/***************
/* Cabecera Datos Envio Factura */
/****************/

#cabecera_envio
{
  padding-top: 53px;
  height:100%;
  float:left;
  width: 1181px;
}
/***************
/*Fin
/****************/



/***************
/*Tercer Nivel
/****************/
#Cuerpo_DatosTitular
{
  margin-top: 42px;
  width: 2480px;
  float:left;
  height: 515px;
  background-color: rgba(212,212,209,0.37);

}




#cabecera_datos_factura_COL1
{
  width: 358px;
  padding-left: 66px;
  float: left;
}
#cabecera_datos_factura_COL2
{

  height:100%;
  width: 577px;
  height:100%;
  float: left;
}

/***************
/* Cabecera Datos Envio Factura */
/****************/

#cabecera_envio
{
  padding-top: 53px;
  height:100%;
  float:left;
  width: 1181px;
}
#cabecera_envio_COL1
{
  width: 358px;
  padding-left: 66px;
  float: left;
}
#cabecera_envio_COL2
{

  height:100%;
  width: 577px;
  height:100%;
  float: left;
}
#cabecera_envio_COL3
{

  height:100%;
  margin-left: 118px;
  width: 300px;
  height:100%;
  float: left;
}
#cabecera_envio_COL4
{

  height:100%;
  width: 577px;
  height:100%;
  float: left;
}
/***************
/*Fin
/****************/

/***************
/* Cuerpo de la factura */
/****************/

#cuerpo
{
  height:1254px;
  width: 2480px;
  float: left;
  margin-top: 76px;
}

#cuerpo_COL1_textoCompleto
{
  top:0px;
  padding-left: 66px;
  height:1254px;
  width: 737px;
  float: left;
}
#cuerpo_COL3_precio
{
  top:0px;
  padding-left: 66px;
  height:1254px;
  width: 200px;
  float: left;
}
#cuerpo_col2
{
  margin-left: 54px;
  height:1254px;
  width: 1181px;
  float: left;
}

#grafica_consumo
{
  height:439px;
  width: 1181px;
  float: left;
}


/***************
/*Fin
/****************/

#pie
{  height:658px;
  width: 2480px;
  float: left;

}
/********

/***************
/*Fin
/****************/



/* Texto informativo*/

.texto_nombre_precios
{
  font-size: 25pt;
  margin-top : 2px;
  margin-bottom: 5px;
  font-weight: normal;
  color:black;
}


.texto_nombre_precios_black
{
  font-size: 25pt;
  margin-top : 2px;
  margin-bottom: 5px;
  font-weight: bold;
  color:black;
}



.texto_nombre
{
  font-size: 23pt;
  margin-top : 10px;
  margin-bottom : 22px;
  font-weight: normal;
  color:black;
}

.texto_nombre_contenido
{
  font-size: 24pt;
  margin-top : 0px;
  margin-bottom : 22px;
  font-weight: bold;
  color:black;
}




/* Clase Texto Azul Hacia Abajo. */
.texto-vertical_azul_col1 {
  -webkit-print-color-adjust: exact;
  color: #64c2c8 !important;
  left: 0px;
  margin-top: 20px;

  font-weight: bold;
  width: 176px;
  text-align: center;
  float:left;
  font-size: 22pt;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/* Clase Texto Azul Hacia Abajo. */
.texto-vertical_azul_col2 {
  -webkit-print-color-adjust: exact;
  color: #64c2c8 !important;
  top: 0px;
  margin-top: 20px;
  font-weight: bold;
  margin-right: 59px;
  text-align: center;
  float:left;
  font-size: 22pt;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}


