<app-menu></app-menu>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Visualización por la paz. Como los procesos de paz afectar a la esperanza de vida de sus habitantes</h1>

    <div class="row">
      <div class="col-md-4">
        <p>Por mucho que nos intenten justificar desde algún punto de vista la guerra, lo cierto es que no tiene justificación alguna. Basándose en esa premisa, se ha realizado una investigación para valorar y visualizar como afectan los procesos de paz a la esperanza de vida de las personas que habitan países en conflicto.
        </p>
        <p> Un ejemplo nos lo encontramos en el siguiente artículo <a href=""> Health in times ofuncertainty in the eastern Mediterranean region, 1990–2013: a systematic analysis for the Global Burden of Disease Study 2013 </a> acerca de la guerra civil Siria, dónde se analiza como la esperanza de vida de los hombres sirios pasó de 75 años en 2010 a 69 en 2013, mientras que la de las mujeres se ha reducido en 5 años, pasando de 80 a 75 en el mismo periodo.
        </p>
        <p> Y no es un caso aislado, todas las guerras o conflictos b&eacute;licos que se han sucedido han tenido graves efectos sobre la salud y la esperanza de vida de las personas. En particular, destacan la reducción de la esperanza de vida en Siria, Yemen, Libia, Túnez y Egipto, que desde 2010 amenazan con poner en peligro los avances en materia de salud alcanzados en los últimos dos decenios.
        </p>

      </div>
      <div class="col-md-4">
        <p>Y no es un caso aislado, todas las guerras o conflictos b&eacute;licos que se han sucedido han tenido graves efectos sobre la salud y la esperanza de vida de las personas. En particular, destacan la reducción de la esperanza de vida en Siria, Yemen, Libia, Túnez y Egipto, que desde 2010 amenazan con poner en peligro los avances en materia de salud alcanzados en los últimos dos decenios.
        </p>
        <p> Además, la guerra trae añadida una peculiar manera de defender la salud de la población. Los ej&eacute;rcitos han acabado por considerar a los hospitales de las organizaciones humanitarias como un objetivo militar.
        </p>
        <p>Es decir, a parte de los muchos m&eacute;dicos y profesionales de la salud que abandonan las áreas en conflicto en busca de una vida mejor en otro lugar, en las zonas b&eacute;licas es normal registrar ataques a instalaciones m&eacute;dicas donde sus objetivos pueden ser m&eacute;dicos, sanitarios y pacientes.
        </p>
        <p>Con todo ello, la única conclusión posibles es afirmar como las guerras sirven para empobrecer a los pueblos que las sufren, y solamente enriquecen a los poderosos que las mandan hacer.
        </p>

      </div>
      <div class="col-md-4">
        <p>Para apoyar esta afirmación, se ha creado una visualización dinámica donde se puede analizar la evolución de la esperanza de vida de la población en un país en conflicto.
        </p>
        <p>Para ello utilizaremos los datos obtenidos en Peace Agreements, una base de datos sobre acuerdos de paz en todo el mundo desde el 1990 hasta hoy, junto con un conjunto de datos obtenidos por el BancoMundial sobre la esperanza de vida media masculina y femenina por países.
        </p>
        <p>El objetivo de la visualización será dar a conocer los beneficios de los tratados de paz firmados estas últimas d&eacute;cadas. Para ello mostraremos una gráfica interactiva sobre la evaluación de la esperanza de vida donde se podrán seleccionar los diferentes países con tratados para ser visualizados mediante una gráfica lineal. Con puntos en negro se indicarán los tratados alcanzados, consultables por el usuario, donde aparecerá información sobre el mismo.
        </p>
        <p>Como objetivo secundario tambi&eacute;n servirá para dar visibilidad a los diferentes conflictos b&eacute;licos, el contenido de los tratados alcanzado y la localización de los conflictos.

        </p>

      </div>
    </div>
  </div>
</div>

<!--+<app-grafica></app-grafica>-->
<app-bar></app-bar>
<app-foot></app-foot>

