<app-menu></app-menu>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Visualización por la paz. Como los procesos de paz afectar a la esperanza de vida de sus habitantes</h1>

    <div class="row">
      <div class="col-md-4">
        <p>Por mucho que nos intenten justificar desde algún punto de vista la guerra, lo cierto es que no tiene justificación alguna. Basándose en esa premisa, se ha realizado una investigación para valorar y visualizar como afectan los procesos de paz a la esperanza de vida de las personas que habitan países en conflicto.
        </p>
        <p> Un ejemplo nos lo encontramos en el siguiente artículo <a href=""> Health in times ofuncertainty in the eastern Mediterranean region, 1990–2013: a systematic analysis for the Global Burden of Disease Study 2013 </a> acerca de la guerra civil Siria, dónde se analiza como la esperanza de vida de los hombres sirios pasó de 75 años en 2010 a 69 en 2013, mientras que la de las mujeres se ha reducido en 5 años, pasando de 80 a 75 en el mismo periodo.
        </p>
        <p> Y no es un caso aislado, todas las guerras o conflictos b&eacute;licos que se han sucedido han tenido graves efectos sobre la salud y la esperanza de vida de las personas. En particular, destacan la reducción de la esperanza de vida en Siria, Yemen, Libia, Túnez y Egipto, que desde 2010 amenazan con poner en peligro los avances en materia de salud alcanzados en los últimos dos decenios.
        </p>

      </div>
      <div class="col-md-4">
        <p>Y no es un caso aislado, todas las guerras o conflictos b&eacute;licos que se han sucedido han tenido graves efectos sobre la salud y la esperanza de vida de las personas. En particular, destacan la reducción de la esperanza de vida en Siria, Yemen, Libia, Túnez y Egipto, que desde 2010 amenazan con poner en peligro los avances en materia de salud alcanzados en los últimos dos decenios.
        </p>
        <p> Además, la guerra trae añadida una peculiar manera de defender la salud de la población. Los ej&eacute;rcitos han acabado por considerar a los hospitales de las organizaciones humanitarias como un objetivo militar.
        </p>
        <p>Es decir, a parte de los muchos m&eacute;dicos y profesionales de la salud que abandonan las áreas en conflicto en busca de una vida mejor en otro lugar, en las zonas b&eacute;licas es normal registrar ataques a instalaciones m&eacute;dicas donde sus objetivos pueden ser m&eacute;dicos, sanitarios y pacientes.
        </p>
        <p>Con todo ello, la única conclusión posibles es afirmar como las guerras sirven para empobrecer a los pueblos que las sufren, y solamente enriquecen a los poderosos que las mandan hacer.
        </p>

      </div>
      <div class="col-md-4">
        <p>Para apoyar esta afirmación, se ha creado una visualización dinámica donde se puede analizar la evolución de la esperanza de vida de la población en un país en conflicto.
        </p>
        <p>Para ello utilizaremos los datos obtenidos en Peace Agreements, una base de datos sobre acuerdos de paz en todo el mundo desde el 1990 hasta hoy, junto con un conjunto de datos obtenidos por el BancoMundial sobre la esperanza de vida media masculina y femenina por países.
        </p>
        <p>El objetivo de la visualización será dar a conocer los beneficios de los tratados de paz firmados estas últimas d&eacute;cadas. Para ello mostraremos una gráfica interactiva sobre la evaluación de la esperanza de vida donde se podrán seleccionar los diferentes países con tratados para ser visualizados mediante una gráfica lineal. Con puntos en negro se indicarán los tratados alcanzados, consultables por el usuario, donde aparecerá información sobre el mismo.
        </p>
        <p>Como objetivo secundario tambi&eacute;n servirá para dar visibilidad a los diferentes conflictos b&eacute;licos, el contenido de los tratados alcanzado y la localización de los conflictos.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">

<p class="lead">
Como se puede comprobar en el siguiente conjunto de gráficas lineales se representá la evolución de la esperanza de vida de los países dónde se ha firmado algún tratado.
</p>
<p class="lead">

Los tratados de paz los he representado como <ion-icon name="arrow-dropup" size="large" ></ion-icon>. La esperanza de vida esta en el eje de las Y y los años en el eje de las X.  Está información nos ayudará a dar una “visión global” sobre un intervalo, para ver cómo se ha desarrollado a lo largo de ese período.
</p>
  <p class="lead">
  Es cierto que una gráfica lineal puede representar perfectamente la evolución de la esperanza de vida en el tiempo, pero cuando hay tantos países la información es muy difícil de interpretar. Por este motivo, si se presiona sobre la leyenda un pais se podrá ocular o mostrar su información.
  </p>
<p class="lead">
  Si presiona el icono <ion-icon name="arrow-dropup" size="large" ></ion-icon>, aparecerá en la parte de abajo información sobre el tratado alcanzado en el país ese año. Si presiona otro punto la información se actualizará o desapracerá.
</p>
<p class="lead">
También se pueden utilizar ambos botones para activar o desactivar todo para facilitar la selección de la información.
</p>
</div>




<app-grafica></app-grafica>

<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <p>A partir de este punto, y analizado el tipo de datos escogido, he realiza una pequeña transformación para valorar cuantos tratados existen en el mundo y en que zonas del planeta están distribuidos. También he añadido en ese mismo gráfico la cantidad de tratados donde se observa los contienentes con más tratados alcanzados y los países.

        </p>
        <p>  Si unimos esta información con la esperanza de vida en el mundo el año 2000, observamos que existe una correlación entre el número de tratados firmados en el continente y su esperanza de vida.
        </p>


      </div>
      <div class="col-md-4">
        <p> Esta representación de los datos ayuda al usuario a entender mejor la información interpretada en la visualización principal. Es decir, la figura  representa en un gráfico de columna la cantidad de tratados firmados agrupado por continentes. Aparte las cantidades están muy diferenciadas, y se puede clasificar a simple vista el orden por cantidades.

        </p>
        <p> En la imagen del mundo se puede analizar la evolución de la esperanza de vida en el mundo. Para ello podrás escoger el año a visualizar con el slider situado en el siguiente punto.
        </p>
      </div>
      <div class="col-md-4">
        <p> La información mostrada será otra ayuda para el usuario será la figura dónde se representa la esperanza de vida en el mundo. En ella se puede comprobar que, los países con menos o ningún tratado tienen una esperanza de vida más larga que los que no. Para ello se ha utilizado un mapa del mundo de calor donde las tonalidades más cercanas al azul tienen una esperanza de vida más alta que las tonalidades más cercanas al negro. Además, esta información confirma los resultados expuestos en la gráfica de busbuja, ya que se observa una esperanza de vida menor en África que en Europa a la vez que la esperanza de vida en Asia es menor que en América.
        </p>
      </div>
    </div>
  </div>
</div>
<app-bar></app-bar>
<app-foot></app-foot>

