


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <canvas class="grafica" baseChart
            [datasets]="this.lineChartData"
            [labels]="this.lineChartLabels"
            [options]="this.lineChartOptions"
            [legend]="this.lineChartLegend"
            [chartType]="this.lineChartType"
            (chartClick)="chartClicked($event)"> </canvas>
  </div>
  <div class="col-md-1"></div>
</div>


<div *ngIf="this.mostrarinformacion>0; then mostrar "> </div>
<ng-template #mostrar>
  <app-tratados-informacion   [texto_tratado]="this.texto_tratado" ></app-tratados-informacion>
</ng-template>
