<app-menu></app-menu>
<div *ngIf="isDesktopDevice == true else mobil" style="height: 100%">

  <div class="page-container"  >
    <div class="side-bar" >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" >
            <ion-icon name="list"></ion-icon>
          </a>
        </li>

      </ul>
    </div>

    <div class="content-container">
      <app-listar-subasta></app-listar-subasta>
    </div>
  </div>
</div>
<app-foot></app-foot>
<ng-template #mobil>
  <app-listar-subasta></app-listar-subasta>
</ng-template>
<app-foot></app-foot>
