<!--si el producto fuera null no se muestra nada para evitar errores de ejecución-->
<div *ngIf="contrato != null; then mostrarcontrato "> </div>
<ng-template #mostrarcontrato>
  <div class="main-div panel_personalizado">
    <div  class="row" >
      <h5 class="center_vertcal col-md-6"><b>Póliza</b></h5>
      <h4 class="center_vertcal col-md-6">{{contrato.name}} </h4>
    </div>
    <div  class="row" >
        <h5 class="center_vertcal col-md-6"><b>Dirección</b></h5>
        <h4 class="center_vertcal col-md-6">{{contrato.cups.street}} </h4>
    </div>
    <div  class="row" >
        <h5 class="center_vertcal col-md-6"><b>Tarifa</b></h5>
        <h4 class="center_vertcal col-md-6">{{contrato.tariff.name}}</h4>
    </div>
    <div  class="row" >
        <h5 class="center_vertcal col-md-6"><b>Potencia</b></h5>
        <h4 class="center_vertcal col-md-6">{{contrato.contracted_power}} kW</h4>
    </div>
    <div  class="row" >
        <div class="col-md-6">
          <button type="submit" (click)="goDetalleContrato()" class="center_vertcal btn btn-primary">Detalles</button>
        </div>
        <div class="col-md-6">
          <button type="submit" (click)="goFacturasContrato()"class="center_vertcal btn btn-primary">Facturas</button>
        </div>

    </div>
  </div>
</ng-template>
