<!--Botones superiores-->
<!--<div class="row" >
  <div class="col-sm-2">
    <button (click)="goListado()" class="pull-left btn btUOC btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span> Atras</button>
  </div>
  <div class="col-sm-9">
  </div>
  <div class="col-sm-1">
    <button  (click)="goPedido()" class="pull-right btn btUOC btn-default">
      <span class="glyphicon glyphicon-credit-card"></span>Pedido ({{numcontratos}})</button>
  </div>
</div>-->
<!--Cuerpo del listado-->
<app-menu></app-menu>
<div class="listado_aux">
  <app-listar-contrato></app-listar-contrato>

  <div class="footer">
      2018 &copy; Electra Energía, S.A.U.
  </div>
</div>
<!--Precio total de la compra-->

