.footer {
    color: white;
    text-align: center;
    padding: 10px;
  }

  .listado_aux{
    background-color: rgba(147,206,222,1);
  
    background-image: url('assets/img/login/degradado_superior.jpg');
    background-size: 115%;
    background-repeat: repeat-y;
    min-height: 100%;
    margin-top: 0!important;
  }