<app-menu></app-menu>
<div *ngIf="isDesktopDevice == true else mobil" style="height: 100%">

  <div class="page-container"  >
    <div class="side-bar" >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" >
            <ion-icon name="list"></ion-icon>
          </a>
        </li>

      </ul>
    </div>

    <div class="content-container">
      <app-admin></app-admin>
    </div>
  </div>
</div>
<ng-template #mobil>
  <app-admin></app-admin>
</ng-template>
