<app-menu></app-menu>
<div class="edit-page">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Creación de la subasta</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <label>Fecha Limite</label>
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker"   [(ngModel)]="subasta.FechaLimite"  [ngModelOptions]="{standalone: true}" placeholder="Fecha Limite">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>


        <label>Subir Imagen</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"  (change)="cambioArchivo($event)">
              </div>
              <label class="custom-file-label" for="inputGroupFile01">{{ mensajeArchivo }}</label>
              <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
              <p class="download" *ngIf="finalizado">URL de descarga: <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
            </div>
          </div>
        </div>
        <label>Gestión Propia</label>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="subasta.GestionPropia" >
            <option selected >Si</option>
            <option  >No</option>
          </select>
        </div>

        <label>Mostrar </label>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="subasta.mostrar" >
            <option selected >Si</option>
            <option  >No</option>
          </select>
        </div>

        <label>Activo </label>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="subasta.activo" >
            <option selected >Si</option>
            <option  >No</option>
          </select>
        </div>

      <label>Localización</label>
      <div class="row">
        <label>Latitud</label>
        <div class="col">
          <input type="text" class="form-control"   [(ngModel)]="subasta.localizacion.Latitud"  [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Longitud">
        </div>
        <label>Longitud</label>
        <div class="col">
          <input type="text" class="form-control"   [(ngModel)]="subasta.localizacion.Longitud"  [ngModelOptions]="{standalone: true}"  placeholder="Latitud">
        </div>
      </div>

      <div class="row">
        <div class="col">

        <div class="row">
        <label>Puja</label>
        </div>
        <div class="row">
          <input type="text" class="form-control"   [(ngModel)]="subasta.puja"  [ngModelOptions]="{standalone: true}"   >
        </div>
        </div>

        <div class="col">
        <div class="row">
        <label>Puja Minima</label>
      </div>

          <input type="text" class="form-control"   [(ngModel)]="subasta.puja_minima"  [ngModelOptions]="{standalone: true}"  >
        </div>
      </div>

      </div>


      <div class="col col-md-8">

          <form name="form"  class="edit-form"  #f="ngForm" novalidate>

            <label>Nombre</label>
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="subasta.nombre"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required >
              </mat-form-field>
            </div>


            <label>Categoria</label>
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="subasta.categoria"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required >
              </mat-form-field>
            </div>

            <label>Descripción</label>
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="subasta.descripcion"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required >
              </mat-form-field>
            </div>


            <label>Introducción</label>
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <textarea class="form-control" [(ngModel)]="subasta.introduccion"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required></textarea>
            </div>

            <label>Cif</label>
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="subasta.cif"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required >
              </mat-form-field>
            </div>

            <label>Dirección</label>
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <textarea class="form-control" [(ngModel)]="subasta.direccion"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" required></textarea>
            </div>

            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="almacenarSubasta()" >Delete</button>
            </div>



          </form>
        </div>
      </div>
    </div>
    <app-foot></app-foot>
  </div>






