<app-menu></app-menu>

<div *ngIf="user else registro" class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Modificar Usuario</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <label>Rol</label>
        <div class="form-group">
          <mat-form-field class="input-style">
            <input matInput [(ngModel)]="user.rol"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" disabled >
          </mat-form-field>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="user.rol" >
              <option *ngFor="let rol  of array_roles" >{{rol}}</option>

            </select>
          </div>
          <div class="col-md-4">
            <button mat-raised-button class="submit-button" color="primary" type="submit" (click)="almacenarrol()"> Modificar</button>
          </div>
          <div class="col-md-4">
            <button mat-raised-button class="delete-button" color="warn" type="button" (click)="cancel()" >Delete</button>
          </div>

        </div>
      </div>
      <div class="col col-md-8">

        <form name="form"  class="edit-form"  #f="ngForm" novalidate>
          <label>Correo Electrónico</label>
          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput [(ngModel)]="user.email"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" disabled >
            </mat-form-field>
          </div>

          <label>Razón Social</label>
          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput [(ngModel)]="user.razonsocial"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" disabled >
            </mat-form-field>
          </div>


          <label>Dirección Facturación</label>
          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput [(ngModel)]="user.direccionfacturacion"  [ngModelOptions]="{standalone: true}"  placeholder="" class="form-control" disabled >
            </mat-form-field>
          </div>


          <div class="row submit-button-container">


          </div>
        </form>
      </div>
    </div>
  </div>
  <app-foot></app-foot>
</div>


<ng-template #registro>
  <app-foot></app-foot>
  </ng-template >





