<!--Ejemplo de factura  -->
<div class="container">

  <div class="row"   style="margin-top: 5%">
    <div class="col12 col-centered"   >
      <div class="row">
        <button type="submit"  class="btn-primary espacio_pading" (click)="registro()" class="btn btn-primary">Volver Atras</button>
      </div>

      <!-- Este apartado corresponde a la factura  -->

      <div class="card">
        <div class="card-header">

          <h3 class="panel-title">
            Localice su <strong>CUPS</strong> y su <strong>Código</strong> en color <strong style="color: #ffcc00  !important;">amarillo</strong> en el siguiente ejemplo de factura:
          </h3>
        </div>

        <div class="card-body">
          <!-- parte de arriba Información empresa  -->
          <div id="empresa"    >
            <div class="row" >
              <div class="col-12" >
                <img class="img-fluid"  src=" assets/img/factura/titulo.JPG" alt="img">
              </div>
            </div>
          </div>
          <!-- fin información empresa  -->



          <!-- Información relacionada con los datos del titular  -->
          <div class="row"  >
            <div id="factura" >
              <div class="col12 " >
                <img class="img-fluid"  src="  assets/img/factura/datosdeltitular.JPG"  alt="suministro">
              </div>
            </div>
          </div>
          <!-- fin datos tiular  -->

          <!--    Datos de la factura  -->
          <div class="row" >
            <div id="suministro"  >
              <div class="col12 " >
                <img class="img-fluid"  src="  assets/img/factura/datossuminitro.jpg"  alt="suministro">
              </div>
            </div>
          </div>


          <!-- fin datos factura  -->
          <div id="kw"   >
            <div class="row">
              <div class="col12 "    >
                <img class="img-fluid"  src="  assets/img/factura/baseimponible.JPG"  alt="suministro">
              </div>
            </div>
          </div>
          <div id="lectura"  >
            <div class="row" >
              <div class="col12 "    >
                <img class="img-fluid"  src="assets/img/factura/informacion1.JPG"  alt="lectura">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

