<!--Si la lista esta vacia, mostramos un texto como confirmación-->
<div *ngIf="numberofobject ===0; then mostrarvacio "> </div>
<ng-template #mostrarvacio>
  <h1>En este momento, no posee ninguna subasta para mostrar.</h1>
</ng-template>

<!--Listado de pedidos con un controlador de paginas-->



  <div class="list-group users-list">
    <div *ngFor="let contrato of subastaList" class="list-group-item list-group-item-action flex-column align-items-start">
      <app-subasta-item [subasta]="contrato.payload.doc.data()" [id]="contrato.payload.doc.id"></app-subasta-item >
    </div>

</div>
