<!--Si la lista esta vacia, mostramos un texto como confirmación-->
<div *ngIf="numberofobject ===0; then mostrarvacio "> </div>
<ng-template #mostrarvacio>
  <h1>En este momento, no posee ninguna subasta para mostrar.</h1>
</ng-template>

<!--Listado de pedidos con un controlador de paginas-->



<div class="list-group users-list">
  <div  class="list-group-item list-group-item-action flex-column align-items-start">
    <ul class="list-group ">
      <div  *ngFor="let item of subastaList" >s  {{item.payload.doc.data().nombre}}</div>
      <li class="list-group-item transparent" *ngFor="let contrato of subastaList | paginate: { itemsPerPage: 7, currentPage: p }">

        <app-subasta-item [subasta]="contrato.payload.doc.data()"></app-subasta-item >
      </li>



      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
  </div>
</div>
