<!--Si la lista esta vacia, mostramos un texto como confirmación-->
<div *ngIf="numberofobject ===0; then mostrarvacio "> </div>
<ng-template #mostrarvacio>
  <h1>En este momento, no posee ninguna factura para este contrato.</h1>
</ng-template>

<!--Listado de pedidos con un controlador de paginas-->
<ul class="list-group ">
  <!--<div class="list-group-notice"> Tiene {{numberofobject}} contrato</div>-->
  <li class="list-group-item transparent">
    <div class="main-div panel_personalizado center">
      <div  class="row" >

        <div class="col-md-12">
          <h2>Listado facturas póliza {{facturaList[0].contract.name}}</h2>
        </div>
      </div>
    </div>
  </li>
  <li class="list-group-item transparent">
    <div class="main-div panel_personalizado center">
      <app-graph [facturas]="facturaList"></app-graph>
    </div>
  </li>
  <li class="list-group-item transparent" *ngFor="let factura of facturaList | paginate: { itemsPerPage: 10, currentPage: p }">
    <app-factura-item [factura]="factura"></app-factura-item >
  </li>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <li class="list-group-item transparent">
    <div class="main-div panel_personalizado center">
      <div  class="row" >

        <div class="col-md-12">
          <button type="submit" (click)="volverListadoContratos()" class="center_vertcal btn btn-primary">Volver</button>
        </div>
      </div>
    </div>
  </li>

</ul>
